@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

body {
    height: 2000px;
}
.jumbotron {
    width: 80%;
    margin: auto;


}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns:80% 1fr;
    margin: 50px auto;
    height: 500px;
    background-size: cover;
    background-image:url('/assets/image/jumbotron.jpg');
    border-radius: 20px;
    background-position-y: -90px;
    box-shadow: 120 4px 12px -2px rgba(0,0,0,0.38);
}

nav {
    background-color: white;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

nav .logo h4 {
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 2px;
    color: #1038E9;
    margin-left: 30px;
}

nav .logo span {
    color: #223279;
}

nav ul {
    display: flex;
    justify-content: end;
    width: 30%;
    list-style: none;
    margin-left: 600px;
}

nav ul li a {
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    color: #223279;
}

nav ul li a:hover {
    color: #1038E9;
}

.warna-bg {
  height: 300px;
  border-radius: 20px;
  width: 108.7%;
  display: grid;
  grid-template-columns:80% 400px;
  margin:  auto;
  padding: 100px;
  color: white;
  font-family: 'Poppins';
  font-size: 30px;
}

.desc-h1 {
    line-height: 50px;
}

.warna-bg .desc-p{
   font-size: 12px;
   margin-top: 20px;
}

.desc-bt {
    border: none;
    border-radius: 10px; 
    padding: 14px;   
    background-color: #223279;
    color: white;
    font-size: 10px;
    margin-top: 16px;
    font-weight: bold;
    cursor: pointer;
}


/* FACILITY */
.facility {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: auto;
    width: 70%;
    background-color: white;
    padding: 20px;
    margin-top: -150px;
    border-radius: 10px;
    
}
/* BOOKING */

.booking-hotel {
    margin-left: 50px;
    color: #223279;
}

.title-booking {
    margin: auto;
}

.booking-wrapper-items {
    display: flex;
    grid-gap: 4px;
    margin-top: 20px;
    align-items: center;
    column-gap: 60px;
    row-gap: 2px;
}

.booking {
    padding: 20px;
    width: 400px;
    text-align: center;
}

.booking img {
    width: 20px; 
}

.booking form input{
   width: 100px;
   margin-top: 10px;
   border-radius: 10px;
   text-align: center;
}



.btn-pesan {
    border: none;
    margin-top: 40px;
    padding: 10px;
    color: white;
    background-color: #1038E9;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    justify-self: center;
    }
    
    .btn-pesan a {
        color: white;
        text-decoration: none;
    }
    
    .button-detail {
        display: flex;
        justify-content: center;
    }
    
    .btn-detail {
        border: none;
        padding: 10px;
        color: white;
        background-color: #1038E9;
        border-radius: 20px;
        cursor: pointer;
        width: 200px;
        text-align: center;
        margin: 20px auto;
}

.btn-detail a {
    color: white;
    text-decoration: none;
}
.desc-items {
    text-align: center;
}
/* about me */
.about {
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(2,500px);
    box-shadow: 13px 1px 9px -5px rgba(0,0,0,0.30);
    width: 80%;
    border-radius: 20px;
}

.about-items {
    padding: 50px;
}

/* image-ilustration */
.image-ilustration img {
    border-radius:  20px;
    width: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* text about */
.text-about {
    margin-bottom: 100px;
}
#title-about {
    font-family: 'Poppins';
    font-size: 30px;
    color: #223279;
    font-weight: bold;
}
#desc-about {
    margin-top: 40px;
    word-spacing: 12px;
    color: #A8A2A2;
}

/* advantages */
.advantages {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2,200px);
    row-gap: 20px;
}

.advantage-title {
    color: #223279;
}

.advantage-desc {
    margin-top: 10px;
    color: #A8A2A2;
    font-weight: 100;
}

/* CLASS ROOM */
.title-class-room {
    text-align: center;
    color: #223279;
}

.class-room {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 8px 4px 5px -6px rgba(0, 0, 0, 0.51);
}

.card-class {
    box-shadow: 8px 4px 5px -6px rgba(0,0,0,0.51);
    margin: 10px;
    border-radius: 10px;
    color: #223279;
}

.card-class img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.description-class {
    padding: 50px;
}

/* footer */

footer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 200px;
    background-color: #1b1b1b;
    padding: 20px;
}

/* items 1 */
.logo h4 {
    font-family: 'Poppins';
    font-size: 40px;
    letter-spacing: 2px;
    color: #1038E9;
}

.logo span {
    color: #223279;
}

.items1-desc {
    width: 200px;
    color: #aaaaaa;
    margin-top: 10px;
}

.title-items {
    color: #ffff;
    margin-top: 30px;
}
.footer-items ul li {
    color: #aaaaaa;
    margin-top: 15px;
    list-style: none;
    cursor: pointer;
}


/* endfooter */
/* responsive break point */

@media screen and (max-width: 1024px) {

    nav {
        justify-content: space-around;
    }
    
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        z-index: 1;
        background-color: #223279;
        width: 100%;
        transform: translateX(100%);
        transition: all 1s;
    }
    
    nav ul li a {
        color: white;
    }
    
    nav ul li a:hover {
        background-color: white;
    }
    
    nav ul.slide {
        transform: translateX(0);
    }
    
    
    
    .toggle-menu span {
        display: flex;
        z-index: 2;
        color: white;
    }
    
    .toggle-menu span:hover {
        background-color: white;
    }
    .wrapper {
        background-position-y: -7px;
    }

   .jumbotron {
       display: flex;
   }
   
   .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 9px 1px 7px -4px rgba(0,0,0,0.20);
}

.booking-hotel {
    display: none;
}

.booking-wrapper-items .booking img {
    font-size: 9px;
    text-align: center;
}

.booking-wrapper-items  .booking p {
    font-weight: bold;
}

.title-booking {
    text-align: center;
}



.about-items {
    width: 50%;
    margin: auto;
}

.image-ilustration img {
    width: 400px;
    margin: auto;
}

.advantages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/* class room */
.class-room {
    grid-template-columns: 300px;
    row-gap: 20px;
}
}

 @media screen and (max-width: 576px) {
/* nav */

nav {
    justify-content: space-around;
}

nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    z-index: 1;
    background-color: #223279;
    width: 100%;
    transform: translateX(100%);
    transition: all 1s;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    background-color: white;
}

nav ul.slide {
    transform: translateX(0);
}



.toggle-menu span {
    display: flex;
    z-index: 2;
    color: white;
}

.toggle-menu span:hover {
    background-color: white;
}

/* end nav */
    .jumbotron {
        width: 400px;
        display: flex;

    }

    .wrapper {
        background-position-x: -150px;
        background-position-y: -1px;
    }

    /* facility */
    .facility {
        margin-top:20px;
        width: 80%;
        margin: auto;
    }
    .icon-wrapper {
        justify-content: center;
    }
    
    /* booking */
    .booking-wrapper-items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .booking-wrapper-items .booking img {
        font-size: 9px;
        text-align: center;
    }

    .booking-wrapper-items  .booking p {
        font-weight: bold;
    }
    
    .title-booking {
        text-align: center;
    }

  
    /* abaout */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 9px 1px 7px -4px rgba(0,0,0,0.20);
    }
    .about-items {
        width: 50%;
        margin: auto;
    }

    .image-ilustration img {
        width: 80%;
        margin: auto;
    }

    .advantages {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    /* class room */
    .class-room {
        display: flex;
        justify-content: center;
        }
        
        .desc-items {
            text-align: center;
        }
}